@import url(css/hero.css);
@import url(css/herohub.css);
@import url(css/hub.css);
@import url(css/navbar.css);
@import url(css/my-servises.css);
@import url(css/img.css);
@import url(css/footer.css);

body {
    background-color: #021527;
    transform: scale(0.9);
    transform-origin: top left;
}